<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/Content/ErrorStyles.css"/>
    <link rel="stylesheet" href="~/Content/material.min.css"/>
    <link rel="stylesheet" href="~/Content/enrolleeStyle.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <script src="~/Scripts/material.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
</head>
<body class="en-bg_color">
    <div class="en-container_main en-overflow">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>

