body{
    line-height:normal;
}

.en-container_main {
    width: 960px;
    margin: 0 auto;
    padding-bottom:20px;
}

.en-card {
    background-color: white;
    margin-top: 20px;
    height: auto;
    float: left;
    width: 100%;
}

.en-card_content{
    padding: 20px;
}

.en-column_left {
    margin-right: 10px;
    width: 470px;
    float:left;
}

.en-column_right {
    margin-left: 10px;
    width: 470px;
    float:left;
}

.en-bg_color {
    background-color: #f0f0f0;
}

.en-body_inf{
    padding: 10px 0 10px 0;
    overflow:auto;
}

.en-full_width{
    width:100%;
}

.en-button_square{
    height:20px;
    width:20px;
    min-height: 20px;
    min-width:20px;
    padding:0;
}

.en-button_conteiner_240{
    width: 240px;
}

.en-padding_dropdown{
    padding:25px;
}

.en-padding_tree{
    padding:0 25px 25px 25px;
}

.en-a_add {
    color: #ffffff;
    text-decoration: none;
    font-size: 32px;
}

.en-block_header{
    float:left;
}

.en-padding_textfields {
    padding: 10px 20px 0 20px;
}

.en-block_add{
    float:right;
    padding:25px;
}

.en-float_left{
    float:left;
}

.en-float_right {
    float: right;
}

.en-overflow{
    overflow:auto;
}

.en-header_small {
    font-size: 24px;
    padding: 15px 20px 15px 20px;
}

.en-header_middle {
    font-size: 32px;
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.en-header_big {
    font-size: 42px;
    padding: 25px;
    float:left;
}

.en-header_title_with_add {
    border-bottom: 1px solid rgba(0,0,0,.12);
    width:960px;
    overflow:auto;
}

.en-text_inf {
    text-align: left;
    padding: 10px 10px 10px 20px;
    font-family: "Helvetica","Arial",sans-serif; 
    width: 205px;
    float:left;
}


.en-text_inf_label {
    color: rgba(0,0,0,.54);
    font-weight: bold;
}

.en-block_mark {
    width:170px;
}

.en-add_subj_but {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 415px;
    margin-top: -55px;
}

.en-delete_subject {
    width: 30px;
    margin-left: 20px;
    display: inline-block;
}

.en-textfield_label {
    color: #3f51b5;
    font-size: 12px;
    top: 4px;
    visibility: visible;
    position: absolute;
}

.en-specialities_container {
    margin: 15px 20px 15px 20px;
}

.en-speciality {
    padding: 10px 20px 10px 20px;
    background-color: white;
    margin: 0 0 15px 0;
    overflow: auto;
    min-height: 80px;
}

.en-application {
    background-color: white;
    margin: 0 0 15px 0;
    overflow: auto;
    min-height: 80px;
}

.en-text_overflow {
    white-space: normal;
    word-wrap: normal;
}

.en-specialty_element {
    margin: 10px 20px 5px 0;
    display: inline-block;
}

.en-specialty_dropdown {
    width: 130px;
}

.en-speciality_priority {
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 20px;
    font-weight:bold;
    color: #909090;
}

.en-center_button{
    margin:0 auto;
    display:block;
}

.en-add_app_button {
    width:150px;
    margin: 0 auto;
    display: block;
}

.en-spec_main_title {
    margin: 0 0 0 -6px;
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #909090;
    position:absolute;
}

.en-fixed_count_spec {
    position: fixed;
    background: #3f51b5;
    border-radius: 2px;
    width: 50px;
    height: 50px;
    top: 20px;
    transform: translateX(-100%);
    z-index: -1;
}

.en-spec_count {
    line-height: 50px;
    text-align: center;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 20px;
    color: white;
}

.en-app_buttons{
    float:right;
}
/*tree class*/
.en-tree_container {
    padding: 0;
    margin: 0;
}

.en-tree_container li {
    list-style-type: none;
}

/* indent for all tree children excepts root */
.en-tree_node {
    background-image: url(/img/i.gif);
    background-position: top left;
    background-repeat: repeat-y;
    margin-left: 18px;
    zoom: 1;
}

.en-tree_node input {
    width: 14px;
    height: 14px;
    float: left;
    margin: 2px;
}

.-en-tree_node, .en-tree-content {
    margin-left: 36px;
}

.en-tree_is_root {
    margin-left: 0;
}

/* left vertical line (grid) for all nodes */
.en-tree_is_last {
    background-image: url(/img/i_half.gif);
    background-repeat: no-repeat;
}

.en-tree_expand_open .en-tree_expand {
    background-image: url(/img/expand_minus.gif);
}

/* closed is higher priority than open */
.en-tree_expand_closed .en-tree_expand {
    background-image: url(/img/expand_plus.gif);
}

/* highest priority */
.en-tree_expand_leaf .en-tree_expand {
    background-image: url(/img/expand_leaf.gif);
}

.en-tree_content {
    min-height: 18px;
    margin-left: 18px;
}

* html .en-tree_content {
    height: 18px;
}

.en-tree_expand {
    width: 18px;
    height: 18px;
    float: left;
}

.en-tree_expand_loading {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(/img/expand_loading.gif);
}

.en-tree_expand_open .en-tree_container {
    display: block;
}

.en-tree_expand_closed .en-tree_container {
    display: none;
}

.en-tree_expand_open .en-tree_expand, .en-tree_expand_closed .en-tree_expand {
    cursor: pointer;
}

.en-tree_expand_leaf .en-tree_expand {
    cursor: auto;
}