body{
    line-height:normal;
}

.en-container_main {
    width: 960px;
    margin: 0 auto;
    padding-bottom:20px;
}

.en-card {
    background-color: white;
    margin-top: 20px;
    height: auto;
    float: left;
    width: 100%;
}

.en-card_content{
    padding: 20px;
}

.en-column_left {
    margin-right: 10px;
    width: 470px;
    float:left;
}

.en-column_right {
    margin-left: 10px;
    width: 470px;
    float:left;
}

.en-bg_color {
    background-color: #f0f0f0;
}

.en-body_inf{
    padding: 10px 0px 10px 0px;
    overflow:auto;
}

.en-full_width{
    width:100%;
}

.en-button_square{
    height:20px;
    width:20px;
    min-height: 20px;
    min-width:20px;
    padding:0;
}

.en-button_conteiner_240{
    width: 240px;
}

.en-padding_dropdown{
    padding:25px;
}

.en-padding_tree{
    padding:0 25px 25px 25px;
}

.en-a_add {
    color: #ffffff;
    text-decoration: none;
    font-size: 32px;
}

.en-block_header{
    float:left;
}

.en-padding_textfields {
    padding: 10px 20px 0px 20px;
}

.en-block_add{
    float:right;
    padding:25px;
}

.en-float_left{
    float:left;
}

.en-float_right {
    float: right;
}

.en-overflow{
    overflow:auto;
}

.en-header_middle {
    font-size: 32px;
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.en-header_big {
    font-size: 42px;
    padding: 25px;
    float:left;
}

.en-header_title_with_add {
    border-bottom: 1px solid rgba(0,0,0,.12);
    width:960px;
    overflow:auto;
}

.en-text_inf {
    text-align: left;
    padding: 10px 10px 10px 20px;
    font-family: "Helvetica","Arial",sans-serif; 
    width: 205px;
    float:left;
}


.en-text_inf_label {
    color: rgba(0,0,0,.54);
    font-weight: bold;
}

.en-block_mark {
    width:170px;
}

.en-block_spec{
    width:130px;
}

.en-add_subj_but {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 415px;
    margin-top: -55px;
}

.en-delete_subject {
    width: 30px;
    margin-left: 20px;
    display: inline-block;
}

.en-textfield_label {
    color: #3f51b5;
    font-size: 12px;
    top: 4px;
    visibility: visible;
    position: absolute;
}

/*tree class*/
.Container {
    padding: 0;
    margin: 0;
}

    .Container li {
        list-style-type: none;
    }

/* indent for all tree children excepts root */
.Node {
    background-image: url(/img/i.gif);
    background-position: top left;
    background-repeat: repeat-y;
    margin-left: 18px;
    zoom: 1;
}

.IsRoot {
    margin-left: 0;
}

/* left vertical line (grid) for all nodes */
.IsLast {
    background-image: url(/img/i_half.gif);
    background-repeat: no-repeat;
}

.ExpandOpen .Expand {
    background-image: url(/img/expand_minus.gif);
}

/* closed is higher priority than open */
.ExpandClosed .Expand {
    background-image: url(/img/expand_plus.gif);
}

/* highest priority */
.ExpandLeaf .Expand {
    background-image: url(/img/expand_leaf.gif);
}

.Content {
    min-height: 18px;
    margin-left: 18px;
}

* html .Content {
    height: 18px;
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}

.ExpandLoading {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(/img/expand_loading.gif);
}

.ExpandOpen .Container {
    display: block;
}

.ExpandClosed .Container {
    display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
    cursor: pointer;
}

.ExpandLeaf .Expand {
    cursor: auto;
}