@using AdmissionCommittee.Domain.Entities
@using AdmissionCommittee.WebUI.Models
@model ApplicationEditViewModel

@{
    ViewBag.Title = "Specialities";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Model.Application.Specialities.OrderBy(sp => sp.Priority);
}


<div class="en-card mdl-shadow--2dp">
    <div class="en-full_width">
        <div class="en-header_big">Application</div>
    </div>
</div>
<div class="en-card mdl-shadow--2dp">
    <div class="en-header_middle">Selected specialities</div>
    <div id="selected_specialities" class="en-specialities_container">
        <div id="sortable" class="en-js-specialities_container">
            @for (int i = 0; i < Model.Application.Specialities.Count(); i++)
            {
                @Html.Partial("PartialSelectedSpeciality", Model.Application.Specialities[i])
            }
        </div>
        <button class="mdl-button mdl-js-button mdl-button--accent mdl-button--raised en-spec_add_button en-js-spec_add_button">
            Add speciality
        </button> 
    </div>

    <script>
        SpecialityDeleteButton();

        SpecialityAddButton();
         
    </script>
</div>