@model AdmissionCommittee.WebUI.Models.EnrolleesListViewModel

@{
    ViewBag.Title = "All enrollees";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/en-script-index.js"></script>

<div class="en-card mdl-shadow--2dp en-overflow">
    <div class="en-block_header">
        <div class="en-header_title_with_add">
            <div class="en-header_big">All enrollees</div>
            <div class="en-block_add">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
                    @Html.ActionLink("+", "Create", null, new { @class = "en-a_add" })
                </button>            
            </div>
        </div>
        
        @*<div class="en-padding_tree">
            <div class="en-js-tree" data-id="null">
                <ul class="en-tree_container"></ul>
            </div>
            <input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent en-js-tree_submit" onclick="submitTree().loadData()"/>
            <script>
                $(document).ready(function () {
                    tree("/Admin/LoadNode");
                });
            </script>  
        </div>*@
    </div>
</div>

<div class="mdl-shadow--2dp en-card" id="enrolleeTable">
    @Html.Partial("PartialEnrolleeTable", Model.Enrollees)
</div>

@*<div class="en-card mdl-shadow--2dp en-card_content">
    <div style="float:left">
        @Html.ActionLink("Add", "Create", null, new { @class = "mdl-button mdl-js-button mdl-button--fab" })
    </div>
    <div style="float:right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", "Admin", new { edLevel = Model.CurrentCategoryOfEducation, page = x }), "mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab")
    </div>
</div>*@


